.navbar {
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid #FE5401;
    padding: 0.5rem;
    margin: auto;
    top: 0;
    width: 830px;
    margin-bottom: 20px;
    background-color: #FE5401;
  }

  .navbar-item {
    display: flex;
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: white;
    background-color: #5300FE;
    width: fit-content;
    height: 48px;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }